@import "tailwindcss";

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
}

@layer utilities {
    .bg-gradient-animation {
        background-color: black;
    }

}

@keyframes gradient-move {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}